@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
   01121145856
</address>

<address>
    <strong>Support:</strong>   <a href="alisalah9694@gmail.com">alisalah9694@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="alisalah9694@gmail.com">alisalah9694@gmail.com</a>
</address>